<div class="panel-group">
  <div id="profile-stats" class="panel panel-defaul"> <!-- beginning of panel -->
    <div class="row panel-heading">
      <div class="col-xs-12">
        <h3 class="panel-title">Other users</h3>
      </div>
    </div> <!-- row end -->
    <div class="row panel-body" id="user-list">

    </div> <!-- end of body row -->
  </div> <!-- end of panel -->
</div>