<% method = "post" %>
<script>
  INITIAL_WORKOUTS = <%= @json_wks.to_json.html_safe %>;
  USER_DATA = <%= @user.to_json.html_safe %>;
</script>
<div id="navbar">
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <li class="active" id="feed-tab">
          <a href="#!/feed">Feed</a>
        </li>
        <li id="profile-tab">
          <a href="#!/profile">Profile</a>
        </li>
        <li id="explore-tab">
          <a href="#!/explore">Explore</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="content-grid">
  </div>
</div>