<div class="row panel-body">
  <div class="col-xs-12">
  <div id="map-<%= workout.id %>" class="map">
  </div>
  <div class="gpxdata">
      <ul>
          <li class="elevationgain"></li>
          <li class="elevationloss"></li>
      </ul>
  </div>
</div>