/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require leaflet
 *= require leaflet.ie
 *= require leaflet-elevation
 *= require_tree .
 */
$grid-float-breakpoint: 100px;
$navbar-height: 35px;
@import "twitter/bootstrap";
.map {
  width: 100%;
  height: 500px;
}
.gpxdata {
  ul {
      font-size: 0.8em;
      list-style-type: none;
      li {
          display: inline;
          float: left;
          padding-right: 2em;
          &:after {
              content: "m";
          }
      }
      li#elevationgain {
          &:before {
              content: "\f062";
              font-family: FontAwesome;
          }                   
      }
      li#elevationloss {
          &:before {
              content: "\f063";
              font-family: FontAwesome;
          }
      }
  }     
}